/* Main elements */
body {
    background-color: black;
    color: white;
	display: grid;
	grid-template-columns: 2fr 8fr;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

h1 {
    font-size: 50px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    line-height: 0.5;
}

button {
    background-color: red;
    border: 3px groove rgba(255, 0, 0, 0.281);
    border-radius: 4px;
    color: white;
    padding: 2px 4px;
    text-align: center;
    cursor: pointer;
    font-size: 16px;
}

button:hover {
    background-color: rgba(255, 0, 0, 0.479);
    color: gold;
}

button:active {
    padding: 0px 0px;
}

button:disabled {
    opacity: 0.5;
    cursor: not-allowed;
}


/* Static title properties */
#title {
    font-size: 65px;
    font-style: bold;
    padding-left: 50px;
    cursor: pointer;
    }

.kanji {
    font-size: 32px;
    font-style: italic;
    font-weight: lighter;
    letter-spacing: 10px;
    color: red;
}

/* Display elements */
#welcome {
    font-weight: lighter;
    width: 800px;
    line-height: 1.2;
}

#show-panel {
    background-color: white;
    color: black;
    width: fit-content;
    padding: 50px;
}

.year {
    font-size: 12px;
    font-style: italic;
    font-weight: lighter;
}

.width {
    width: 800px;
    font-size: 18px;
}

.resize {
    height: 500px;
    width: auto;
 }

 .empty {
     font-style: italic;
 }

 .thumbnail {
    height: 250px;
    width: auto;
    cursor: pointer;
}

.card {
    background-color: black;
    color: white;
    border: 3px inset red;
    padding: 10px;
    margin: 15px;
    box-shadow: 10px 10px 5px black;
}

/* Sidebar elements */
a {
    color:white;
    font-family: monospace, sans-serif;
    text-decoration: none;
}

a:hover {
    color: gold;
}

hr {
    border: 2px solid white;
}

#list-panel {
    margin: 0 auto;
    text-align: center;
    padding-top: 100px;
    background-color: black;
}




