body {
    background-color: black;
    color: white;
	display: grid;
	grid-template-columns: 2fr 8fr;
}
h1 {
    font-size: 50px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}


a {
    color:white;
    font-family: monospace, sans-serif;
    text-decoration: none;
}

a:hover {
    color: gold;
}

hr {
    border: 2px solid white;
}
.resize {
   height: 500px;
   width: auto;
}
.thumbnail {
    height: 200px;
    width: auto;
}
.year {
    font-size: 12px;
    font-style: italic;
    font-weight: lighter;
}
.title {
    padding-left: 50px;
}
#list-panel {
    margin: 0 auto;
    text-align: center;
    padding-top: 100px;
    background-color: black;
}
#show-panel {
    background-color: white;
    color: black;
    width: fit-content;
    padding: 50px;
}
.width {
    width: 800px
}