body {
	display: grid;
	grid-template-columns: 2fr 8fr;
}
h1 {
    font-size: 50px;
}
ul {
    list-style-type: none;
}
.resize {
   height: 500px;
   width: auto;
}
.thumbnail {
    height: 200px;
    width: auto;
}
.year {
    font-size: 12px;
    font-style: italic;
    font-weight: lighter;
}
#list-panel {
    padding-top: 100px;
    padding-right: 50px;
}
.width {
    width: 800px
}